<!-- INCLUDE THE HEADER -->
<% include ../partials/header %>

	<div class="centre">
		<h1>Loan To a User</h1>
		<div id="loans-wrapper">
			<div>
				<div id="input">
					<form>
			            <input type="text" id="search_term" class="input-wide" placeholder="Enter the name or barcode of the user" />  
			            <input type="button" id="add_loan_button" value="Search" />
			        </form>
				</div>

				<div id="output">
				</div>
			</div>
			<div>
				<div id="output2">
				</div>
				
				<div id="output3">
				</div>
			</div>
		</div>
	</div>

	<script src="js/add-loan-js.js"></script>

<!-- INCLUDE THE FOOTER -->
<% include ../partials/footer %>
