<!-- INCLUDE THE HEADER -->
<% include ../partials/header %>

    <h1 class="centre">All Users</h1>

    <p class="centre">This is a list of all the users in the database. To update or delete a user, please use the <a href="/search-users">Search</a> page.</p>

    <div id="output">
    </div>

	<script src="js/all-users-js.js"></script>

<!-- INCLUDE THE FOOTER -->
 <% include ../partials/footer %>
