<!-- INCLUDE THE HEADER -->
<% include ../partials/header %>

    <h1 class="centre">All Books</h1>

    <p class="centre">This is a list of all the books in the database. To see loan details or delete a book, please use the <a href="/search-books">Search</a> page.</p>

    <div id="output">
    </div>

	<script src="js/all-books-js.js"></script>

<!-- INCLUDE THE FOOTER -->
<% include ../partials/footer %>
