<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
    <title>Pontybridge University - Library System - Home</title>
</head>
<body>
	<div id="content">
		<div id="login">
			<h1>Login</h1>

			<form>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" class="input-small">
				<label for "password">Password:</label>
				<input type="text" name="password" id="password" class="input-small"><br/>
				<input type="button" value="Submit" id="login_submit" class="submit">
			</form>

			<div id="output">
			</div>
		</div>

		<div id="logininfo">
			<p>Username: Admin</p>
			<p>Password: password</p>
		</div>
	</div>
	
	<script src="js/login-js.js"></script>
</body>
</html>



		