<!-- INCLUDE THE HEADER -->
<% include ../partials/header %>

    <div class="centre">
    	<div>
    		<h1 class="centre">Search For A Book By Author</h1>
    		<form>
                <input type="text" id="search_term" class="input-wide" placeholder="Enter an author to search for"/>
                <input type="button" id="search_by_author_button" value="Search" />
            </form>
        </div>

        <div id="loan_output">
        </div>

        <div id="loan_output2">
        </div>

        <div id="output">
        </div>

        <div id="update_output">
        </div>

        <div id="refresh_output">
        </div>

    </div>
    <script src="js/search-books-by-author-js.js"></script>

<!-- INCLUDE THE FOOTER -->
<% include ../partials/footer %>
