<!-- INCLUDE THE HEADER -->
<% include ../partials/header %>

    <div class="centre">
    	<div>
    		<h1>Search For A User</h1>
    		<form>
                <input type="text" id="search_term" class="input-wide" placeholder="Please enter a user's name or barcode" />
                <input type="button" id="search_users_button" value="Search" />
            </form>
        </div>

        <div id="output">
        </div>

        <div id="update_output">
        </div>

        <div id="refresh_output">
        </div>
    </div>
    
    <script src="js/search-users-js.js"></script>

<!-- INCLUDE THE FOOTER -->
<% include ../partials/footer %>
