<!-- INCLUDE THE HEADER -->
<% include ../partials/header %>

	<div class="centre">
		<div id="input">
			<h1>View a User's Current Loans</h1>
			<form>
	            <input type="text" id="search_term" class="input-wide" placeholder="Enter a user's name or barcode number" />
	            <input type="button" id="view_user_loans_button" value="Search" />
	        </form>
		</div>

		<div id="output">
		</div>

		<div id="output2">
		</div>

		<div id="output3">
		</div>

		<div id="output4">
		</div>
	</div>

	<script src="js/view-user-loans.js"></script>

<!-- INCLUDE THE FOOTER -->
<% include ../partials/footer %>
