bcrypt==3.1.6
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.3
nltk==3.4
numpy==1.15.4
oauthlib==2.1.0
pandas==0.24.2
Pillow==8.2.0
pycparser==2.19
PyMySQL==0.9.3
pyparsing==2.3.0
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.9
requests==2.20.1
requests-oauthlib==1.0.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.11.0
SQLAlchemy==1.2.17
textblob==0.15.2
tweepy==3.6.0
twython==3.7.0
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
