		</div>

	</div>

	<footer id="footer">
		<p>&copy; 2019 Pontybridge University</p>
		<p>Created for CMT112 Web Application Development, Autumn 2018-2019.</p>
	</footer>


	<script src="js/js.js"></script>
	
</body>
</html>
