<ul class="menu-ul">
	<li class="menu-li-item"><a href="/index">Home</a></li>
	<li class="menu-li-cat">Books</li>
	<li class="menu-li-item"><a href="/all-books">All Books</a></li>
	<li class="menu-li-item"><a href="/search-books">Search by Title</a></li>
	<li class="menu-li-item"><a href="/search-books-by-author">Search by Author</a></li>
	<li class="menu-li-item"><a href="/search-books-by-publisher">Search by Publisher</a></li>
	<li class="menu-li-item"><a href="/add-book">Add a Book</a></li>
	<li class="menu-li-item"><a href="/add-author">Add an Author to a Book</a></li>
	<li class="menu-li-cat">Loans</li>
	<li class="menu-li-item"><a href="/add-loan">Loan a Book</a></li>
	<li class="menu-li-item"><a href="/view-user-loans">View Loans & Book Return</a></li>
	<li class="menu-li-cat">Users</li>
	<li class="menu-li-item"><a href="/all-users">All Users</a></li>
	<li class="menu-li-item"><a href="/search-users">Search Users</a></li>
	<li class="menu-li-item"><a href="/add-user">Add a New User</a></li>
</ul>