{% extends "layout.html" %}
{% block content %}
	<div class="row fullwidth-wrapper">
		<div class="col-sm-12">
			<h1 class="titlefont abouttitle">About Student Swap.it</h1>
		</div>

	<div class="col-sm-12 col-md-6">
		<h2 class="titlefont">Our Mission</h2>

		<p class="mission-statement">‘To provide an easy to use, eco-friendly service to students: helping them turn their unwanted books into money.’</p>

		<p>According to a recent <a href="https://www.savethestudent.org/money/student-budgeting/what-do-students-spend-their-money-on.html" target="new">survey</a>, students spend an average of £20 a month on books alone during their studies! But once a course is complete, these books often go unused and eventually gather dust! Let's face it, studying is expensive! We want to help students recuperate some costs, as well as helping new students gather the resources they need for a price they can afford.</p>

		<p>With the current widespead emphasis on looking after the planet, we want to help in our own little way. In the spirit of 'reduce, reuse, recycle', by encouraging the re-use of books and avoiding unwanted yet useful books from making their way to landfill, we can really do our part. We actively encourage sellers to post their books in plastic-free packaging, and, where possible and safe to do so, meet on campus to exchange books.</p>

	</div>

	<div id="fees" class="col-sm-12 col-md-6">
		<h2 class="titlefont">Fees</h2>

		<p>Great news, it's completely free to list your books for sale with us! This means you won't be charged for listing your book, and you won't lose out if your book doesn't sell.</p>

        <p>If your book does sell, we simply take 10% of the final selling price of the book as our selling fee. So, if your book sells for £10, we will only take £1 in fees.</p>

        <p>Most book buying companies will try to buy your book from you for the lowest possible price, often less than the book is worth. We really want to help you maximise the amount you get back for your books, which is why we think selling with us is best choice!

        <p>There are no fees for buying books here at Student Swap.it, so the price you see is the price you pay!</p>

        <p>Buying books with us is not only cost effective, but you will be helping fellow students recouperate their costs of studying! It's a win-win all round!</p>
	</div>

	<h2></h2>
</div>
{% endblock %}