{% extends "layout.html" %}
{% block content %}
	<div class="form-wrapper col-sm-12 center">
		<h1 class="page-title">Member Login</h1>
		<img src="{{ url_for('static', filename='img/layout/icons/login.png') }}" class="icon-large">
		<p class="page-subtitle">Please log in to start buying and selling your textbooks!</p>
		{% with messages = get_flashed_messages() %}
	  		{% if messages %}
	    		{% for message in messages %}
	      			<p>{{ message }}</p>
	    		{% endfor %}
	  		{% endif %}
		{% endwith %}
		<form method="POST" action="" class="center">
			{{ form.csrf_token }}
			<fieldset class="form-group center">
				<div class="form-group login-form">
					{{ form.email.label(class="form-control-label") }} {{ form.email(class="form-control") }}
					{% for error in form.email.errors %}
						<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</div>
				<div class="form-group login-form">
					{{ form.password.label(class="form-control-label") }} {{ form.password(class="form-control") }}
					{% for error in form.password.errors %}
						<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
				</div>
				<div class="form-group">
					{{ form.submit }}
				</div>
			</fieldset>
		</form>
{% endblock %}